@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  width: 100%;
  background-image: url("../imagenes/fondorojo.jpg");
}

.feria {
  height: 90vh;
  width: 100%;
}

.fotos {
  display: grid;
  width: 100%;
  height: 500vh;
  grid-template-columns: 1fr x7;
  grid-template-rows: 1fr x14;
  grid-template-areas: ".... foto1 foto1 .... .... .... ...." ".... foto1 foto1 .... foto2 foto2 ...." ".... .... .... .... foto2 foto2 ...." ".... foto3 foto3 .... .... .... ...." ".... foto3 foto3 .... foto4 foto4 ...." ".... .... .... .... foto4 foto4 ...." ".... foto5 foto5 .... .... .... ...." ".... foto5 foto5 .... foto6 foto6 ...." ".... .... .... .... foto6 foto6 ...." ".... foto7 foto7 .... .... .... ...." ".... foto7 foto7 .... foto8 foto8 ...." ".... .... .... .... foto8 foto8 ...." ".... foto9 foto9 .... .... .... ...." ".... foto9 foto9 .... foto10 foto10 ...." ".... .... .... .... foto10 foto10 ....";
}
.fotos .foto1 {
  grid-area: foto1;
  background-image: url("../imagenes/foto1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 200ms;
}
.fotos .foto2 {
  grid-area: foto2;
  background-image: url("../imagenes/foto2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 1s;
}
.fotos .foto3 {
  grid-area: foto3;
  background-image: url("../imagenes/foto3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 3s;
}
.fotos .foto4 {
  grid-area: foto4;
  background-image: url("../imagenes/foto4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 5s;
}
.fotos .foto5 {
  grid-area: foto5;
  background-image: url("../imagenes/foto5.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 7s;
}
.fotos .foto6 {
  grid-area: foto6;
  background-image: url("../imagenes/foto6.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 10s;
}
.fotos .foto7 {
  grid-area: foto7;
  background-image: url("../imagenes/foto7.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 12s;
}
.fotos .foto8 {
  grid-area: foto8;
  background-image: url("../imagenes/foto8.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 15s;
}
.fotos .foto9 {
  grid-area: foto9;
  background-image: url("../imagenes/foto9.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 17s;
}
.fotos .foto10 {
  grid-area: foto10;
  background-image: url("../imagenes/foto10.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 20s;
}

/*animaciones*/
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.cajas {
  display: grid;
  width: 100%;
  height: 200vh;
  grid-template-columns: 1fr x4;
  grid-template-rows: 1fr x6;
  grid-template-areas: "tecj1 tecj1 tecj1 tecj1" "caja1 caja1 caja2 caja2" "caja1 caja1 caja2 caja2" "tecj2 tecj2 tecj2 tecj2" "caja3 caja3 caja4 caja4" "caja3 caja3 caja4 caja4";
}
.cajas .tecj1 {
  grid-area: tecj1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: italic;
  font-size: 50px;
  text-decoration: underline;
}
.cajas .caja1 {
  grid-area: caja1;
  background-image: url("../imagenes/remera1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cajas .caja2 {
  grid-area: caja2;
  background-image: url("../imagenes/remera2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cajas .tecj2 {
  grid-area: tecj2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: italic;
  font-size: 50px;
  text-decoration: underline;
  text-decoration: none;
}
.cajas .caja3 {
  grid-area: caja3;
  background-image: url("../imagenes/llavero1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cajas .caja4 {
  grid-area: caja4;
  background-image: url("../imagenes/llavero2.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  display: grid;
  width: 100%;
  height: 85vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20% 80%;
  grid-template-areas: "info1 info2" "info3 info4";
}
.info .info1 {
  grid-area: info1;
  text-align: center;
  font-style: italic;
  font-size: 30px;
  text-decoration: underline double;
  padding: 30px;
  background-color: black;
  color: white;
}
.info .info2 {
  grid-area: info2;
  text-align: center;
  font-style: italic;
  font-size: 30px;
  text-decoration: underline double;
  padding: 30px;
  background-color: black;
  color: white;
}
.info .info3 {
  grid-area: info3;
  width: 500px;
  height: 50vh;
  margin-left: 100px;
}
.info .info4 {
  grid-area: info4;
  text-align: center;
  font-style: italic;
  font-size: 30px;
  text-decoration: underline double;
  padding: 30px;
  background-color: black;
  color: white;
  text-decoration: none;
}

.formulario {
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}
.formulario .col {
  padding: 20px;
}

.form-floating {
  margin: 0 auto;
  width: 85%;
}

.col-12 {
  padding: 20px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  font-style: italic;
  color: white;
  height: 111px;
  align-items: center;
}
.footer .red {
  padding-right: 20px;
}
.footer .red .instagram {
  height: 10vh;
}

.tiozombie {
  font-size: 30px;
  text-decoration: none;
  font-style: italic;
  color: white;
}

section {
  background-color: black;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  /*galeria*/
  .fotos {
    height: 200vh;
  }
  /*sublimacion*/
  .cajas {
    display: grid;
    width: 100%;
    height: 110vh;
  }
  /*ubicacion*/
  .info {
    display: grid;
    width: 100%;
    height: 85vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr x4;
    grid-template-areas: "info1" "info3" "info2" "info4";
  }
  .info .info1 {
    grid-area: info1;
  }
  .info .info2 {
    grid-area: info2;
  }
  .info .info3 {
    grid-area: info3;
    width: 100%;
    height: 60vh;
    margin-left: 0;
  }
  .info .info4 {
    grid-area: info4;
    text-decoration: none;
  }
  /*contacto*/
  .formulario {
    width: 90%;
    height: 73vh;
  }
  .formulario .col {
    padding-bottom: 40px;
  }
  .col-12 {
    margin-top: 40px;
  }
  .footer {
    display: block;
    background-color: black;
    font-style: italic;
    color: white;
    height: 111px;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  /*galeria*/
  .fotos {
    height: 150vh;
  }
  .fotos .foto1 {
    animation-delay: 200ms;
  }
  .fotos .foto2 {
    animation-delay: 200ms;
  }
  .fotos .foto3 {
    animation-delay: 2s;
  }
  .fotos .foto4 {
    animation-delay: 2s;
  }
  .fotos .foto5 {
    animation-delay: 4s;
  }
  .fotos .foto6 {
    animation-delay: 4s;
  }
  .fotos .foto7 {
    animation-delay: 6s;
  }
  .fotos .foto8 {
    animation-delay: 6s;
  }
  .fotos .foto9 {
    animation-delay: 8s;
  }
  .fotos .foto10 {
    animation-delay: 8s;
  }
  /*contacto*/
  .formulario {
    width: 90%;
    height: 73vh;
  }
  .formulario .col {
    padding-bottom: 40px;
  }
  .col-12 {
    margin-top: 40px;
  }
  .footer {
    display: block;
    background-color: black;
    font-style: italic;
    color: white;
    height: 111px;
    align-items: center;
  }
  /*ubicacion*/
  .info {
    display: grid;
    width: 100%;
    height: 85vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr x4;
    grid-template-areas: "info1" "info3" "info2" "info4";
  }
  .info .info1 {
    grid-area: info1;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    text-decoration: underline double;
    padding: 30px;
    background-color: black;
    color: white;
  }
  .info .info2 {
    grid-area: info2;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    text-decoration: underline double;
    padding: 30px;
    background-color: black;
    color: white;
  }
  .info .info3 {
    grid-area: info3;
    width: 100%;
    height: 60vh;
    margin-left: 0;
  }
  .info .info4 {
    grid-area: info4;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    text-decoration: underline double;
    padding: 30px;
    background-color: black;
    color: white;
    text-decoration: none;
  }
}

/*# sourceMappingURL=style.css.map */
