.fondoestrella {
  background-image: url("../imagenes/fondorojo.jpg");
}
.formulario {
  width: 50%;
  padding: 20px;
  margin: 0 auto;

  .col {
    padding: 20px;
  }
}
.form-floating {
  margin: 0 auto;
  width: 85%;
}
.col-12 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
