.fondoestrella {
  background-image: url("../imagenes/fondorojo.jpg");
}
.formulario {
  width: 50%;

  padding: 20px;
  margin: 0 auto;

  .col {
    padding: 20px;
  }
}
.form-floating {
  margin: 0 auto;
  width: 85%;
}
.col-12 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: $backgraund-color;
  font-style: italic;
  color: $color-primary;

  .red {
    padding-right: 20px;
  }

  .instagram {
    height: 10vh;
  }
}

.tiozombie {
  font-size: 30px;
  text-decoration: none;
  font-style: italic;
  color: $color-primary;
}
section {
  background-color: $backgraund-color;
  color: $color-primary;
  text-align: center;
  .cordoba {
    font-size: 2vh;
  }
}
.coop {
  font-size: 2vh;
  padding-bottom: 2vh;
}
