main {
  width: 100%;
  background-image: url("../imagenes/fondorojo.jpg");
}
.titulo {
  color: $color-primary;
  font-style: oblique;
  text-align: center;
}
.feria {
  height: 90vh;
  width: 100%;
}
