@media screen and (max-width: 768px) {
  /*galeria*/
  .fotos {
    height: 200vh;
  }
  /*sublimacion*/
  .tecj1 {
    text-align: center;
  }
  .cajas {
    display: grid;
    width: 100%;
    height: 110vh;
  }
  .caja3 {
    margin-bottom: 20px;
  }
  .caja4 {
    margin-bottom: 20px;
  }
  /*ubicacion*/
  .info {
    display: grid;
    width: 100%;
    height: 85vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr (x4);
    grid-template-areas:
      "info1"
      "info3"
      "info2"
      "info4";

    .info1 {
      grid-area: info1;
    }
    .info2 {
      grid-area: info2;
    }
    .info3 {
      grid-area: info3;
      width: 100%;
      height: 60vh;
      margin: 0;
      padding-left: 50px;
      padding-right: 50px;
    }
    .info4 {
      grid-area: info4;

      text-decoration: none;
    }
  }
  /*contacto*/
  .formulario {
    width: 90%;
    height: 73vh;
    .col {
      padding-bottom: 40px;
    }
  }
  .col-12 {
    margin-top: 40px;
  }
  .footer {
    display: block;

    background-color: $backgraund-color;
    font-style: italic;
    color: $color-primary;
    height: 111px;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  /*galeria*/
  .fotos {
    height: 150vh;

    .foto1 {
      animation-delay: 200ms;
    }

    .foto2 {
      animation-delay: 200ms;
    }

    .foto3 {
      animation-delay: 2s;
    }

    .foto4 {
      animation-delay: 2s;
    }

    .foto5 {
      animation-delay: 4s;
    }

    .foto6 {
      animation-delay: 4s;
    }

    .foto7 {
      animation-delay: 6s;
    }

    .foto8 {
      animation-delay: 6s;
    }

    .foto9 {
      animation-delay: 8s;
    }

    .foto10 {
      animation-delay: 8s;
    }
  }
  /*sublimacion*/
  .cajas {
    display: grid;
    width: 100%;
    height: 100vh;

    .tecj1 {
      grid-area: tecj1;
      text-align: center;
      font-size: 40px;
    }
    .caja1 {
      margin-left: 50px;
    }
    .caja2 {
      margin-right: 50px;
    }
    .tecj2 {
      text-align: center;
      font-size: 40px;
      text-decoration: none;
    }
    .caja3 {
      margin-left: 50px;
      margin-bottom: 20px;
    }
    .caja4 {
      margin-right: 50px;
      margin-bottom: 20px;
    }
  }

  /*contacto*/

  .formulario {
    width: 90%;
    height: 73vh;
    .col {
      padding-bottom: 40px;
    }
  }
  .col-12 {
    margin-top: 40px;
  }
  .footer {
    display: block;

    background-color: $backgraund-color;
    font-style: italic;
    color: $color-primary;
    height: 111px;
    align-items: center;
  }

  /*ubicacion*/
  .frame {
    height: 50vh;
  }
  .info {
    display: grid;
    width: 100%;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr (x4);
    grid-template-areas:
      "info1"
      "info3"
      "info2"
      "info4";

    .info1 {
      grid-area: info1;
    }
    .info2 {
      grid-area: info2;
      padding: 0;
    }
    .info3 {
      grid-area: info3;
      width: 100%;
      height: 50vh;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 0;
    }
    .info4 {
      grid-area: info4;
      padding: 0;
      text-decoration: none;
    }
  }
}
