/*galeria*/

@media screen and (max-width: 480px) {
  .fotos {
    height: 150vh;

    .foto1 {
      animation-delay: 200ms;
    }

    .foto2 {
      animation-delay: 200ms;
    }

    .foto3 {
      animation-delay: 2s;
    }

    .foto4 {
      animation-delay: 2s;
    }

    .foto5 {
      animation-delay: 4s;
    }

    .foto6 {
      animation-delay: 4s;
    }

    .foto7 {
      animation-delay: 6s;
    }

    .foto8 {
      animation-delay: 6s;
    }

    .foto9 {
      animation-delay: 8s;
    }

    .foto10 {
      animation-delay: 8s;
    }
  }

  /*contacto*/

  .formulario {
    width: 90%;
  }
  .footer {
    display: block;
    .seguinos {
      font-size: 50px;
    }
    .red {
      padding-right: 20px;
    }

    .instagram {
      height: 10vh;
    }
  }

  .tiozombie {
    font-size: 30px;
    text-decoration: none;
    font-style: italic;
    color: $color-primary;
  }
  section {
    text-align: center;
    color: $color-primary;

    .cordoba {
      font-size: 2vh;
    }
  }
  .coop {
    font-size: 2vh;
    padding-bottom: 2vh;
  }
  /*ubicacion*/
  @mixin info {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    text-decoration: underline double;
    padding: 30px;
    background-color: $backgraund-color;
    color: $color-primary;
  }
  .info {
    display: grid;
    width: 100%;
    height: 85vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr (x4);
    grid-template-areas:
      "info1"
      "info3"
      "info2"
      "info4";

    .info1 {
      grid-area: info1;
      @include info();
    }
    .info2 {
      grid-area: info2;
      @include info();
    }
    .info3 {
      grid-area: info3;
      width: 100%;
      height: 60vh;
    }
    .info4 {
      grid-area: info4;
      @include info();
    }
  }
}
