@mixin tecj {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-primary;
  font-style: italic;
  font-size: 50px;
  text-decoration: underline;
}
.cajas {
  display: grid;
  width: 100%;
  height: 200vh;
  grid-template-columns: 1fr (x4);
  grid-template-rows: 1fr (x6);
  grid-template-areas:
    "tecj1 tecj1 tecj1 tecj1"
    "caja1 caja1 caja2 caja2"
    "caja1 caja1 caja2 caja2"
    "tecj2 tecj2 tecj2 tecj2"
    "caja3 caja3 caja4 caja4"
    "caja3 caja3 caja4 caja4";

  .tecj1 {
    grid-area: tecj1;
    @include tecj();
  }
  .caja1 {
    grid-area: caja1;
    background-image: url("../imagenes/remera1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px;
  }
  .caja2 {
    grid-area: caja2;
    background-image: url("../imagenes/remera2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 100px;
  }
  .tecj2 {
    grid-area: tecj2;
    @include tecj();
    text-decoration: none;
  }
  .caja3 {
    grid-area: caja3;
    background-image: url("../imagenes/llavero1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px;
  }
  .caja4 {
    grid-area: caja4;
    background-image: url("../imagenes/llavero2.jpeg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 100px;
  }
}
